#header, #main, #navigation, #footer, #page {
    width: 100%;
}

#header {
    height: 360px;
}

#hfooter {
    font-size: 1em;
    grid-template-rows: 100px 60px;
    grid-template-columns: 35% 30% 35%;
}

#sc_firstrow {
    width: 50%;
    height: 250px;
    margin-top: 20px;
}

#sc_secondrow {
    width: 48%;
    height: 250px;
    margin-top: 20px;
}

#login {
    width: 30%;
    min-height: 340px;
}

#login_form {
    margin-top: 60px;
}

.main_menu_item {
    width: 60px;
}

#screenlab::after {
    content: " - larger";
}

#nav_label {
    font-size: 3em;
}

#sr_label {
    font-weight: normal;
    font-size: 1.5em;
    color: #888888
}


.material_label {
    font-size: 1.9em;
}