#header, #main, #navigation, #footer, #page {
    width: 100%;
}

#footer {
    width: 100%;
}

#header {
    height: 300px;
}

#hfooter {
    font-size: 1em;
    grid-template-rows: 80px 50px;
    grid-template-columns: 35% 30% 35%;
}

#navigation {

}

#sc_firstrow {
    width: 50%;
    height: 190px;
    margin-top: 20px;
}

#sc_secondrow {
    width: 46%;
    height: 190px;
    margin-top: 20px;
}

#screenlab::after {
    content: " - wide";
}

#login {
    width: 40%;
    min-height: 340px;
}

#login_form {
    margin-top: 50px;
}

.main_menu_item {
    width: 60px;
}

#nav_label {
    font-size: 2.4em;
}

.material_label {
    font-size: 1.7em;
}

/**
j_alert
*/
div#information {
    width: 500px; 
    min-height: 300px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 70px auto 70px;
}

.confirm_title i, .alert_icon i {
    font-size: 3em;
    align-self: center;
}

#message_title, #alert_title {
    font-size: 1.6em;
    align-self: center;
}

#infomessage {
    font-size: 1.2em;
}

div#alert, div#error {
    width: 400px; 
    min-height: 200px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 55px auto;
}

#confirm {
    width: 400px; 
    min-height: 250px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 55px auto 70px;
}