html {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

:root {
    --mdc-theme-primary: #01579B !important;
    --mdc-theme-secondary: #d9473c !important;
    --accent-color: #d9473c !important;
    --main-500: #03A9F4;
    --main-700: #0288D1;
    --main-800: #0277BD;

}

body {
    margin: 0;
    height: 100%;
    width: 100%; 
    background-color: white;
}

.page {
    display: grid; 
    grid-template-columns: auto; 
    grid-template-rows: auto auto 1fr auto; 
    min-height: 100%;
}

#header {
    /** background-color: var(--mdc-theme-primary); */
    grid-row: 1; 
    grid-column: 1/2;
    border-bottom: 1px solid #eeeeee;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35); 
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.35);
}

#header a {
    /*color: #FFFFFF;*/
    color: var(--mdc-theme-primary);
}

#sc_firstrow {
    /*color: rgb(255, 255, 255);*/
    color: var(--mdc-theme-primary);
    font-weight: normal;
}

#sc_secondrow {
    font-size: 1em;
    /*color: rgb(255, 255, 255);*/
    color: var(--mdc-theme-primary);
    font-weight: normal;
}

#sc_secondrow a {
    font-size: 1.0em;
    font-weight: normal;
}

#drawer_label {
    color: var(--mdc-theme-primary);
    font-size: 1.5em
}

#main {
    padding: 0;
    background-color: white;
    grid-row: 3; 
    grid-column: 1/2; 
    display: grid; 
}

#left_space {
    grid-column: 1/2;
}

#right_space {
    grid-column: 4/5;
}

#left_col {
    grid-column: 2/3;
    padding-top: 0;
}

#right_col {
    grid-column: 3/4;
}

#right_col a {
    color: rgba(0, 0, 0, .87);
    float: right;
}

#navigation {
    background-color: white;;
}

#navigation-with-mdtabs {
    background-color: #f0f0f0;
}

#navigation, #navigation-with-mdtabs {
    color: var(--mdc-theme-primary);
    grid-row: 2; 
    grid-column: 1/2;
}

#navigation a {
    color: white;
}

#hfooter {
    font-size: 1em;
    margin: 0;
    padding-right: 0;
    grid-row: 3;
    grid-column: 1/2; 
    display: grid;
    grid-template-areas: 
    "leftspaceInfo info rightspaceInfo"
    "leftspaceCopy copyright rightspaceCopy";
}

#leftFspaceI {
    grid-area: leftspaceInfo;
}

#rightFspaceI {
    grid-area: rightspaceInfo;
}

#leftFspaceC {
    grid-area: leftspaceCopy;
    background-color: #1a1a1a;
}

#rightFspaceC {
    grid-area: rightspaceCopy;
    background-color: #1a1a1a;
}

.footer_info {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: col3-start;
    grid-area: info;
    display: flex;
    justify-content: left;
    align-items: center;
}

.copyright {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: col3-start;
    grid-area: copyright;
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav_div {
    color: white;
}

.card a {
    color: #03A9F4 !important;
}

.card_title a {
    color: #03A9F4 !important;
}

div.card_title {
    color: #03A9F4;
}

div.navigate {
    border: 1px solid rgba(215, 215, 215, 1);
    background-color: rgba(243, 251, 254,.6);
}

div.navigate a {
    color: #003366;
}

fieldset {
    border: 1px solid #0288D1;
}

/* tabs */
div.mdtabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 30px;
    font-size: 1em;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

div.mdtab {
    width: 120px;
    text-align: center;
    height: 25px;
    /** margin-top: 5px; */
}

div.mdtab a {
    text-decoration: none;
}

div.mdtab a > span {
    color: #aaaaaa;
}

div.mdselected_tab {
    color: #18ffff;
    border-bottom: 2px solid #000000;
}

div.mdselected_tab a > span {
    color: #000000 !important;
    font-weight: bold;
}

.rb_button, .mdc-fab, #newuser {
    background-color: var(--mdc-theme-secondary);
}

.rb_bg {
    background-color: #FFF3E0;
}

.rb-login-container {
    display: block;
    width: 100%;
}

.conf_frame {
    border: 1px solid #536dfe;
}

.accent_button a, a.material_link, .material_label {
    color: var(--mdc-theme-primary) !important;
}

.accent_decoration {
    border-bottom: 1px solid var(--mdc-theme-secondary) !important;
}

.hover_row:hover {
    background-color: #0097A7;
    color: white;
    border-radius: 4px;
}

.accent_color {
    color: var(--accent-color);
}

.accent_color a {
    color: var(--accent-color) !important;
}

#ticker li, #tr_ticker li {
    color:#fff;
    border-bottom:1px solid #03A9F4;;
    background-color: white;
}

#ticker li a, #tr_ticker li a {
    color: #1E4389 !important;
}

.icon_card {
    background-color: #ffd740;
    color: #202020;
}

.icon_card_accent {
    background-color: #0288D1;
    color: white;
}

.text_card {
    color: #0288D1 !important;
    font-weight: 600;
}

.text_card a {
    color: #0288D1 !important;
    font-weight: 600;
}

select.android, input.android {
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba (0, 0, 0, .87);
}

input.android:focus, select.android:focus, textarea.android:focus {
    border-color: #03A9F4;
}

.main_700, .main_700 a {
    color: #0288D1 !important;
}

.main_500, .main_500 a {
    color: #03A9F4 !important;
}

.alert_msg, .error_msg, .confirm_msg {
    background-color: #FFFFFF;
    border: 1px solid #01579b;
}

.alert_title, .confirm_title {
    border-bottom: 1px solid #0288D1;
    color: #01579b;
}

.error_title {
    color: rgba(200, 6, 6, 1);
    border-bottom: 1px solid #03A9F4;
}

.alert_title span, .error_title span, .confirm_title span {
    padding-left: 10px;
    font-size: 1em
}

.material_dark_bg {
    background-color: #01579b;
}

.material_light_bg {
    background-color: #4fc3f7;
    color: #222222;
}

.float_button {
    background-color: #0288D1 !important;
    color: #ffffff;
}

.float_button:hover {
    background-color: #18FFFF !important;
    color: #000000;
}

.selected_tag, .selected_tag i, .selected_element, .selected_tag .mdc-card__subtitle {
    background-color: var(--mdc-theme-primary);
    color: white!important;
}

.selected_tag_parent {
    background-color: var(--mdc-theme-primary) !important;
}

.selected_tag span, .selected_element span {
    color: white;
}

.selected_doc {
    background-color: var(--mdc-theme-primary);
    color: white!important;
}

.selected_doc span, .selected_doc section, .selected_doc h1, .selected_doc section.file-subject p, .selected_doc .file-ext i, .selected_tag .mdc-card__horizontal-block .material-icons {
    color: white!important;
}

.form_input {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, .76)!important;
    font-size: 1rem;
}

select.form_input {
    border-radius: 4px;
}

.mdc-button--raised {
    background-color: var(--mdc-theme-secondary)!important;
}

.user_item {
    border-radius: 4px 4px 0 0;
}

.label_menu_item {
    color: var(--mdc-theme-secondary);
}

div.menu_link a {
    font-size: 1.2em;
}

.form_container {
    border: 1px solid rgba(0, 0, 0, .14);
    border-radius: 6px;
}

._2sides-horiz-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 30px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    border-radius: 20px;
}

._2sides-horiz-card__icon-cont {
    width: 30%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
}

._2sides-horiz-card__text {
    width: 60%;
    text-align: center;
}

._2sides-horiz-card-mini {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    border-radius: 10px;
}

._2sides-horiz-card-mini__icon-cont {
    width: 30%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

._2sides-horiz-card-mini__text {
    width: 60%;
    text-align: center;
    color:rgba(0, 0, 0, .87)
}

.accent_card {
    background-color: var(--accent-color);
    color: white;
}

.normal_card {
    background-color: var(--mdc-theme-primary);
    color: white
}

.librarian_card {
    background-color: #C2185B;
    color: white
}

.student_card {
    background-color: #EF6C00;
    color: white
}

.admin_card {
    background-color: #1E4389;
}

.librarian_color {
    color: #C2185B;
}

.student_color {
    color: #EF6C00;
}

.admin_color {
    color: #1E4389;
}

.primary_color {
    color: var(--mdc-theme-primary);
}

.accent_border {
    border: 1px solid var(--accent-color);
}

.primary_border {
    border: 1px solid var(--mdc-theme-primary);
}

.square-card {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
}

.square-card__circle {
    width: 60%;
    height: 60%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.user-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-columns: 80% 20%;
}

.user-card__name {
    grid-row: 1;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    padding-left: 20px;
    color:rgba(0, 0, 0, .87)
}

.user-card__icon {
    grid-row: 1;
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-card__role {
    grid-row: 2;
    grid-column: 1/3;
    padding-left: 20px;
    font-style: italic;
    color: rgba(0, 0, 0, .44);
}