#header, #navigation, #footer {
    width: 100%;
}

#main {
    
}

body {
    
}

#footer {
    font-size: 1em;
    height: 75px;
    margin: 0 auto 0 auto;
    padding-top: 10px;
}

#hfooter {
    font-size: 1em;
    display: grid;
    grid-template-rows: 100px 60px;
    grid-template-columns: 35% 30% 35%;
}

/*index*/
#login_form {
    width: 600px;
    height: 330px;
}

#_header {
    width: 400px;
    margin: 100px auto 30px auto;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

#_header p {
    font-size: 0.7em;
}

html, body {
    font-size: 15px;
}

.area {
    margin-top: 100px;
}

.area i {
    font-size: 8em;
}

.area div {
    font-size: 1.3em;
}
/* index end */
/*login start */
.rb-login-container {
    display: block;
    width: 350px
}

#pwdreq_info {
    display: block;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px
}

#header {
    height: 70px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
    grid-template-areas: 
    "head_sx drawer head_user";
    align-items: center;
}

#navigation {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40px;
    grid-template-areas: 
    "nav_sx nav_tabs nav_void";
    height: 40px!important;
    padding-top: 0
}

#right_col {
    padding-top: 0px;
}

#left_col {
    
}

.dashboard_card {
    width: 320px;
    height: 150px;
}

.demo-card, ._2sides-horiz-card {
    width: 380px;
    height: 100px;
}

._2sides-horiz-card, ._2sides-horiz-card-mini {
    display: grid;
    grid-template-columns: 30% 70%;
}
._2sides-horiz-card-mini {
    width: 250px;
    height: 80px;
}

.mdc-card__title {
    font-size: 1.2em;
}

.mdc-card__subtitle {
    font-size: 1em;
}

.dashboard_longcard {
    width: 330px;
    height: 360px;
}

.dashboard_longcard_body {
    padding: 10px;
}

#sc_firstrow {
    margin-top: 0;
    font-size: 1.2em;
}

#sc_secondrow {
    margin-top: 0;
}

div.menu {
    width: 100%x;
}

div.menu_link {
    border: 0;
    height: 70px;;
}

.info_back_card {
    width: 550px;
}

/* gestione mdtabs */
nav#navigation-with-mdtabs {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40px;
    grid-template-areas: 
    "nav_sx nav_tabs nav_void";
    height: 40px!important;
    padding-top: 0
}

div#head_label.with-mdtabs {
    grid-row: 1; 
    grid-column: 1/2; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: flex-start; 
    align-items: center; 
    padding-left: 15px
}

div.mdtab {
    /*margin-top: 15px;*/
}

#main {
    margin-top: 40px;
    grid-template-columns: 17% 50% 15% auto;
}

.mdc-list-item, .square-card {
    width: 150px;
    height: 150px;
    font-size: 1.1em!important;
    border-radius: 20%;
}

a.mdc-list-item {
    font-size: 1.2em;
}

.mdc-list-item__text {
    font-size: 2.3em;
    font-weight: bolder;
}

/** forms */
.form_title {
    font-size: 1.2em;
}

#userform {
    width: 90%;
    text-align: center; 
    margin: auto; 
    padding: 10px; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}

.form_container {
    width: 60%;
    padding-top: 30px;
}

.form_row {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
}

.android {
    min-height: 25px;
}

.input_with_icon {
    width: 96%;
}

._2sides-horiz-card__icon {
    font-size: 3em!important;
}

._2sides-horiz-card__text {
    font-size: 1.5em!important;
}

._2sides-horiz-card-mini__icon {
    font-size: 1.5em!important;
}

._2sides-horiz-card-mini__icon i {
    font-size: 1.5em!important;
}

._2sides-horiz-card-mini__text {
    font-size: 1.2em!important;
}

.square-card__circle {
    font-size: 2.3em;
    font-weight: bold;
}

.user-card {
    width: 300px;
    height: 100px;
}

.user-card__name {
    font-size: 1.8em;
}

.user-card__icon i {
    font-size: 2.6em;
}

.user-card__role {
    font-size: 1.2em;
}