#header, #navigation, #footer {
    width: 100%;
}

#main {
    width: 50%;
}

body {
    
}

#footer {
    font-size: 1em;
    height: 75px;
    margin: 0 auto 0 auto;
    padding-top: 10px;
}

/*index*/
#login_form {
    width: 600px;
    height: 330px;
}

#_header {
    width: 400px;
    margin: 100px auto 30px auto;
    border-bottom: 1px solid #FFFFFF;
    color: #FFFFFF;
}

#_header p {
    font-size: 0.7em;
}

html, body {
    font-size: 15px;
}

.area {
    margin-top: 100px;
}

.area i {
    font-size: 8em;
}

.area div {
    font-size: 1.3em;
}
/* index end */
/*login start */
.rb-login-container {
    display: block;
    width: 350px
}

#pwdreq_info {
    display: block;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px
}

#header {
    height: 150px;
}

#navigation {
    display: flex;
    justify-content: space-between;
    height: 75px!important;
}

#right_col {
    width: 25%;
    float: right;
}

#left_col {
    width: 75%;
    float: left;
}

.dashboard_card {
    width: 250px;
    height: 120px;
}

.demo-card {
    width: 380px;
    height: 150px;
}

.dashboard_longcard {
    width: 330px;
    height: 360px;
}

.dashboard_longcard_body {
    padding: 10px;
}

#sc_firstrow {
    width: 70%;
    margin-top: 40px;
}

#sc_secondrow {
    margin-top: 40px;
}

div.menu {
    width: 100%x;
}

div.menu_link {
    border: 0
}

.info_back_card {
    width: 550px;
}