#header, #navigation, #footer, #page {
    width: 100%;
}

#main {


}

#footer {
    font-size: 1em;
    height: 15px;
}

/*index*/
#login_form {
    width: 600px;
    height: 330px;
}

#_header {
    width: 400px;
    margin: 100px auto 30px auto;
}

#_header p {
    font-size: 0.8em;
}

.area {
    margin-top: 80px;
}

.area i {
    font-size: 8em;
}

.area div {
    font-size: 1.3em;
}
/* index end */
/*login start */
.rb-login-container {
    display: block;
    width: 350px
}

#pwdreq_info {
    display: block;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px
}


html, body {
    font-size: 15px;
}

#header {
    height: 100px;
}

#navigation {
    display: flex;
    justify-content: space-between;
    height: 50px!important;
}

#right_col {

}

#left_col {

}

.dashboard_card {
    width: 250px;
    height: 120px;
}

.demo-card {
    width: 200px;
    height: 70px;
}

.dashboard_longcard {
    width: 280px;
    height: 300px;
}

.dashboard_longcard_body {
    padding: 10px;
}

#sc_firstrow {
    width: 70%;
    margin-top: 25px;
}

#sc_secondrow {
    margin-top: 25px;
}

div.menu {
    width: 100%;
}

.info_back_card {
    width: 550px;
}

button.new_user {
    top: 344px;
    right: 550px;
    position: fixed
}